html, body {
    margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
}

#canvas {
	display: block;
}

.text {
	font-family: sans-serif;
	padding: 16px;
	font-size: 20px;
}

#fps {
	color: #ffffff;
	font-family: sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	padding: 2px 4px;
	margin: 4px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
